<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://awseb-e-naxu6xxhnu-stack-awsebrdsdatabase-0v96v1xfqvie.cbq0ysiy6uvo.us-east-2.rds.amazonaws.com:3306/inventory_service_fo76</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="connection.username">fo76admin</property>
        <property name="connection.password">Fo76Inventory!2026DB</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <mapping class="edu.matc.inventory.entity.ArmorType" />
        <mapping class="edu.matc.inventory.entity.UserArmorPiece"/>
        <mapping class="edu.matc.inventory.entity.ArmorSlot"/>
        <mapping class="edu.matc.inventory.entity.AppUser"/>
        <mapping class="edu.matc.inventory.entity.LegendaryEffect"/>
        <mapping class="edu.matc.inventory.entity.ArmorBaseResistance"/>
        <mapping class="edu.matc.inventory.entity.Loadout"/>
        <mapping class="edu.matc.inventory.entity.UserPaFrame"/>
        <mapping class="edu.matc.inventory.entity.UserPaPiece"/>
        <mapping class="edu.matc.inventory.entity.PaType"/>
        <mapping class="edu.matc.inventory.entity.PaSlot"/>
        <mapping class="edu.matc.inventory.entity.PaBaseResistance"/>

    </session-factory>

</hibernate-configuration>