files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIC4jCCAcoCCQD1DADricXq0jANBgkqhkiG9w0BAQsFADAzMQswCQYDVQQGEwJV
      UzESMBAGA1UECAwJV2lzY29uc2luMRAwDgYDVQQHDAdNYWRpc29uMB4XDTI2MDIy
      NTIyNTA0MloXDTI3MDIyNTIyNTA0MlowMzELMAkGA1UEBhMCVVMxEjAQBgNVBAgM
      CVdpc2NvbnNpbjEQMA4GA1UEBwwHTWFkaXNvbjCCASIwDQYJKoZIhvcNAQEBBQAD
      ggEPADCCAQoCggEBAMU7SDyUQCfhi8ENyHpGklkGHXnEz9Gf7OETV1rnk10a/6Sr
      R0+a5ll74QZ9aT2kE4Lan1h4UtOVrgcGnFc/sXWO8nGanRXxckk2Xna4o9e3+RKg
      oZzW8MUk5Pg7wXIhCh7t7O2C+JRMIesyCYUgM4S76Cf7dS24kKDr6/dcHOe3lsob
      gT2CBKo5Dt/j6prhTPANC32S+SVPNHu24mj2pg77jQKFZLuMIttQ6cChw3wHB+Gr
      XhqB0syKLTNtoUeV4T1dBkOv+WHI9m0WSKCrYM14BuC2AwH3eW/ssr7+r4k/rYRP
      JhgZwZzQdgYNOf7C0gjE2/6Gua6TOmaUgUBdWmsCAwEAATANBgkqhkiG9w0BAQsF
      AAOCAQEAVvIDVdQv/z5+Zrp0xFxo1lS4rFP6LopPUb1or65whg9QJdwOulf3TepI
      uBF1u84lzzFIrx30XLzH2v3gfx3KOreZ1MDLvy8gd1uZlRtu2Webvl+4vmZN9EG5
      D8Ubk7GncyHP+KspEnuspSbtBl1m7aPhGlhU2XJM5u1nPl39J4jRq35PqBjBT1vF
      xSict07v0Xht0cD3INj5w49rxrDuW256C1Jq7khPM24aN4Lvv+TFtRXx+saZrz7E
      qqMJRRxKPqfN+Zy8v7bFOa7hoC0qbBe+nBq5xXkhhGy7A7TL/isz3gcJprFj4Al2
      cnSxPw03HBrgLQ//q9snd3N3cup1Uw==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEAxTtIPJRAJ+GLwQ3IekaSWQYdecTP0Z/s4RNXWueTXRr/pKtH
      T5rmWXvhBn1pPaQTgtqfWHhS05WuBwacVz+xdY7ycZqdFfFySTZedrij17f5EqCh
      nNbwxSTk+DvBciEKHu3s7YL4lEwh6zIJhSAzhLvoJ/t1LbiQoOvr91wc57eWyhuB
      PYIEqjkO3+PqmuFM8A0LfZL5JU80e7biaPamDvuNAoVku4wi21DpwKHDfAcH4ate
      GoHSzIotM22hR5XhPV0GQ6/5Ycj2bRZIoKtgzXgG4LYDAfd5b+yyvv6viT+thE8m
      GBnBnNB2Bg05/sLSCMTb/oa5rpM6ZpSBQF1aawIDAQABAoIBAFNHLMEnd89fFLt3
      Lmcy1ShxxJBd4cIJXOPMXt4rWbW+aKMHDx01sn2mKOWsnntAhFyEIzQf2hks4kZl
      LC5K3otcyFHfjuRtBmyTYF+Qpt22+Jw85wBqYU9cvLFzycJ+4N8eZyQCYSN84fWF
      My/a4OXy0ZvQOTIM9ER+WSwg4LOVuku6319vGq+jZy7zQ8vVVCJyN1lhJqXgCUHF
      7CyTsfl2gNdXhQT3sXRE0FnyyYktrlRq7eJhrXE3KAB1S3pNQczyKXTbEPrBBakz
      j8yFIANSId8K/k5Nb+RQeROAqoMDhNYPaZwfGpfDnoXfNAioB46+WTlayHSks4E+
      oB6uWYECgYEA+0nZPDxODVlZyy9a7qyzVFdxFnZnUqqMdUPKJq9ghdOlvHFMHioX
      yQDvQWQ7jbuJhdq3ejX2XQuDfmSY666P+Hd+dPpKGPcWI6ndcL3MhBHAvT3IEmcF
      F7a5j/uRmAM4rTEQcnkfjNkpBOTQ3bBe6AKJdPQJFtciHXu0ILNpakkCgYEAyO33
      toOyR/+NkYayZ3maizYw/w9hh3p6E8uCB7W9N2xTRu3Og1zdKdun2am14uXyTMtv
      6M1iPPYyVl6oMWuAD8F3Vq4VX7veaUcrlhc5VZZSN1hbRuOEDL5zeXdT8mkbk8/p
      hPZNZ7GJx6Iuk72p2fm+ZnOfJVOCNTYy4q9OvxMCgYA1SQaYoE0IxZ6l2EfW/qYU
      R2qCkd79B487OoG+TEgSeLvXRssWRmS+ycTyP9flCRRzXtqzPogcWNmsTpaiu2Rq
      EqStF3no61Q1gcqkIosgokcVmek4BcJtseCNaJIKAvzctN/A9nA7RL1O/VpQ+BpX
      5lnRhAH9ZuckC1w55vF+iQKBgC2yeWkIEK7xPwg+4ypHbM+GdqQ7oknGoCcKXLtW
      KP+G4nW6NgKIR0By1XzabSR6eZ3fkscWluYYdCBSjNwYf9qVfIe5NeE8//tflVkg
      VQjTFEXEEZZQvkKLugWBDxWNtBjs60YzIi2YIibGCuPM+ek6NIRmfWZm1LE3b2FA
      z58DAoGAQqUsRCweMXgPrPVzXFuakC6/gOPibsPOBZL+XBb5B+Gt/q/tG0+ehtzd
      sdpW0q+GayoSPFIY7IN18+FoF5EouRhsjcoAPi3mOl+vnNgZw0nOGKpkyRKuGyj1
      Cx27dnncTAhXQYNMh6JVOU9MFf/0y2Y/nbFuSW4v2FZQpQUYRJM=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart